@import 'variables';

.buttons_wrap {
  display:flex;
  padding:2rem 2rem 2rem 2rem;
  margin:-2rem -2rem 0 -2rem;
  overflow-x:auto;
  &::-webkit-scrollbar {
    display:none;
  }
  li {
    flex:none;
    &:not(:last-child){
      margin-right:0.8rem;
    }
    a {
      display:flex;
      align-items: center;
      height:3rem;
      padding:0 1.4rem;
      border-radius:1rem;      
      @include buttonShadowStyle;
    }
  }
  :global {
    li {
      a {
        &.active {
          box-shadow: $buttonConcave;
        }
      }
    }
  }
  &.dark {
    :global {
      li {
        a {
          @include buttonShadowStyle-dark;
          &.active {
            box-shadow: $buttonConcave-dark;
          }
        }
      }
    }
  }  
}