@import 'variables';

.header_container {
  width:100%;
  .header { 
    width: 76.8rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    margin:0 auto;
    box-shadow: $boxShadow;
    border-radius:0 0 1rem 1rem;
    background-color:$light-bg;
    transition-duration: 0.2s;
    transition-property: background-color;
    .nav {
      display:flex;
      > a {
        display:flex;
        align-items: center;
        height:3rem;
        padding:0 1.4rem;
        border-radius:1rem;
        font-weight:600;
        color:$light-font;
        @include buttonShadowStyle;
        &:not(:last-child){
          margin-right:0.8rem;
        }
        &.active {
          box-shadow: $buttonConcave;
        }
      }
    }  
  }
  .buttons_wrap {
    position:relative;
    display:flex;
  }

  &.dark {
    .header {
      background-color:$dark-bg;
      box-shadow:$boxShadow-dark;
      .nav {
        > a {
          color:$dark-font;
          @include buttonShadowStyle-dark;
          &.active {
            box-shadow: $buttonConcave-dark;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header_container {
    .header {
      width:100%;
    }
  }
}


