@import 'variables';

.list_wrap {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  > li {
    width:calc(50% - 1rem);
    text-align:center;
    margin:0 0 1rem 0;
  }
  .img_wrap {
    position:relative;
    border-radius:1rem;
    overflow:hidden;
    aspect-ratio: 16/9;
    margin:0 0 1rem 0;
  }
}

.title {
  font-size:1.8rem;
  font-family:$PretendarBold;
  line-height:1.3;
  width:100%;
}
.date {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:1.4rem;
  margin:0 0 0.6rem 0;
  svg {
    width:1.4rem;
    height:1.4rem;
    margin:0 0.4rem 0 0;
    transform:translateY(-0.1rem);
  }
}

@media (max-width: 460px) {
  .list_wrap {
    > li {
      width:100%;
    }
  }
}

.dimmed {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.85);
  color:#fff;
  font-size:3rem;
   a {
    margin:2rem 0 0 0;
    padding:0 0 1rem 0;
    display:block;
    color:#fff;
    border-bottom:2px solid #fff;
   }
}

