@import 'variables';

.section {
  position:relative;
  width:76.8rem;
  margin:1rem auto 1rem auto;
  box-shadow: $boxShadow;
  background-color:$light-bg;
  padding:2rem;
  box-sizing:border-box;
  border-radius:1rem;
  min-height:150rem;
  transition-duration: 0.2s;
  transition-property: background-color;
  &.dark {
    background-color:$dark-bg;
    box-shadow:$boxShadow-dark;
  }
}
@media (max-width: 768px) {
  .section {
    width:calc(100% - 4rem);
    margin:1rem 2rem 0 2rem;
  }
}
